{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": ["airbnb-base", "atomix-react", "eslint:recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": ["off"],
    "compat/compat": "error",
    "consistent-return": "off",
    "comma-dangle": "off",
    "flowtype-errors/show-errors": "error",
    "generator-star-spacing": "off",
    "import/no-extraneous-dependencies": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "no-multi-assign": "off",
    "promise/param-names": "error",
    "promise/always-return": "error",
    "promise/catch-or-return": "error",
    "promise/no-native": "off",
    "react/sort-comp": ["error", {
      "order": ["type-annotations", "static-methods", "lifecycle", "everything-else", "render"]
    }],
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off",
    "react/jsx-indent": "off",
    "react/jsx-boolean-value": "off",
    "import/newline-after-import": ["error", { "count": 1 }],
    "react/prop-types": "off",

    "import/named": 0,
    "import/namespace": 0,
    "import/default": 0,
    "import/export": 0,
    "import/no-duplicates": 0,
    "import/extensions": 0,
    "import/order": 0,
    "import/no-absolute-path": 0,
    "import/no-named-as-default-member": 0,

    "import/no-unresolved": [
      "error",
      {
        commonjs: true,
        amd: true,
        "ignore": ['lex/', 'app/']
      }
    ]
  },
  "plugins": [
    "flowtype",
    "flowtype-errors",
    "import",
    "promise",
    "compat",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.eslint.js"
      }
    }
  }
}
