@import "~font-awesome/css/font-awesome.css";

$primary-color-dark:   #303F9F;
$primary-color-light:  #C5CAE9;

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: $primary-color-dark;
  overflow-y: hidden;
  font-family: Roboto;
  margin: 0px;
  padding: 0px;
}

form{
  padding: 10px;
}
